
<!--users-form></users-form-->

<!--h2>
 This is the App Users:
</h2>
<ul class="list-group">
  <li *ngFor = "let key of usersKeys">{{'user number '+key+' '+users[key].name}}</li>
</ul-->






<users-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()"></users-form>
<h2>
  List of Users:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
  <ul>
    <a >{{'UserId: '+key+' UserName: '+users[key].name}}</a>
  </ul> 
  <button class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
  <button class = "btn btn-warning"  [routerLink] = "['/update-form/', key]" >Edit</button> 
  </li>
</ul>



<!--h2>
  List of Users:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <a >{{'UserId: '+key+' UserName: '+users[key].name+' User Phone Number: '+users[key].phonenum}}</a>
  </li>
</ul-->
