<p>
  update For User number {{user?.id}}
</p>

<h2>Update user number {{user?.id}}: </h2>
<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{user?.name}}">
  </div>
  <div>
    <label for="phonenum"></label>
    <input type="text" name="phonenum" id="phonenum" class="form-control" formControlName = "phonenum" value="{{user?.phonenum}}">
  </div>
  <br>
  <input type="submit" value="Update the user" class="btn btn-primary">
</form>