<div class="center">
	<h1>Add User</h1>

	<form [formGroup] = "userForm" (ngSubmit) = "sendData()">
	  
	  <div>
	    <label for="name"><b>Name</b></label>
	    <input type="text" name = "name" id ="name" class = "form-control" formControlName = "name" required>
	    <div *ngIf="!userForm.controls.name.valid" class="errors">
	      Please enter the user name
	    </div>    
	  </div>
	    
	  <div>
		  <label for="phonenum"><b>Users Phone Number</b></label>
		  <input type="text" name="phonenum" id="phonenum" class = "form-control" formControlName = "phonenum" value="1000" required>
		  <div *ngIf="!userForm.controls.phonenum.valid" class="errors">
		      Please enter the user phone number
		  </div>
	  </div>
	<input type="submit" value = "Send Invoice" class = "btn btn-primary" [disabled]="!userForm.valid">
	</form>  
</div>	